---
---

@import "palettes";
@import "theme";
@import "mixins";

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.recruitment-message {
  color: $red-800; // Strong but professional red
  font-weight: $bold;
  font-size: 1.25rem;
  font-family: $sans;
  display: inline-block;
}

.truncate:not(:focus) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

[data-hide="true"] {
  display: none !important;
}
